@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 7%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.header .logo a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  cursor: pointer;
}

.header .logo a img {
  height: 30px;
}

.header .logo h1 {
  color: #000000;
}

.header .nav a {
  margin: 0 2rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  position: relative;
}

.header .nav a:hover::after {
  width: 100%;
  transition: 0.5s ease;
}

.header .nav a::after {
  content: " ";
  width: 0;
  height: 1.9px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.btn {
  padding: 0.9rem 2.2rem;
  border: 1px solid #000000;
  border-radius: 10px;
  position: relative;
}

.header .menu i {
  font-size: 2rem;
}

.menu {
  display: none;
}

/* header ====================END====================== */

#aboutUs {
  display: flex;
  padding-top: 5rem;
}

.heading_about,
.header_img {
  flex-basis: 50%;
}

.heading_about h1 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 1.5rem;
}

.heading_about p {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.heading_about .sbtn {
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
}

.heading_about .sbtn:hover {
  background-color: #212020;
  transition: 0.25s ease;
}

.header_img {
  width: 100%;
}

.header_img img {
  width: 90%;
  float: right;
}

.Logos {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.logo_animation_container {
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 15s linear infinite;
}

.innerLogo {
  display: flex;
  align-items: center;
}

.innerLogo img {
  width: 100px;
  margin: 0 3rem;
  filter: brightness(0%);
}

@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.services_content {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

.services_content h3 {
  font-size: 2rem;
  padding: 0 0.6rem;
  border-radius: 5px;
  background-color: #b9ff66;
}

.services_content p {
  font-size: 1.1rem;
  font-weight: lighter;
  max-width: 570px;
}

.service_grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin-bottom: 7rem;
}

.serviceGrid {
  aspect-ratio: 2/1;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background: #f3f3f3;
  border-radius: 30px;
}

.left,
.right {
  flex-basis: 50%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}

.left a:hover {
  color: #7d7a7a;
  cursor: pointer;
  transition: 0.5s ease;
}

.left a img {
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 50%;
  background-color: #000000;
}

.right img {
  width: 80%;
  margin-top: 2rem;
}

.leftTextContent h2 {
  font-size: 1.5rem;
}

.blackBottomBg {
  position: relative;
  border: 1px solid #000000;
}

.blackBottomBg::after {
  content: " ";
  width: 100%;
  position: absolute;
  bottom: -9px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
  border-radius: 30px;
}

.blackBottomBg:nth-child(2) {
  background-color: #b9ff66;
}

.blackBottomBg:nth-child(5) {
  background-color: #b9ff66;
}

.blackBg {
  background-color: #000000;
}

.getFreeProposal {
  background: #f3f3f3;
  border-radius: 30px;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.proposal_content,
.proposal_sideImg {
  flex-basis: 50%;
}

.proposal_content h3 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.proposal_content p {
  max-width: 550px;
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
}

.proposalBtn {
  font-size: 1rem;
  background-color: #000000;
  color: #fff;
}

.proposalBtn:hover {
  background-color: transparent;
  color: #000000;
  border: 3px solid #000000;
  transition: 0.3s ease;
  cursor: pointer;
}

.proposal_sideImg img {
  width: 70%;
  float: right;
  margin-top: -60px;
  margin-bottom: -50px;
}

.case_studies_header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.case_studies_header h3 {
  font-size: 2rem;
  padding: 0 0.6rem;
  border-radius: 5px;
  background-color: #b9ff66;
}

.case_studies_header p {
  font-size: 1.1rem;
  font-weight: lighter;
  max-width: 570px;
}

.case_grid_layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  background-color: #191a23;
  border-radius: 30px;
  margin-top: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.grid1 {
  padding: 5rem;
}

.grid1 p {
  color: #fff;
  line-height: 24px;
  margin-bottom: 1rem;
}

.grid1 a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #b9ff66;
}

.grid1 a img {
  width: 20px;
}

.grid1:nth-child(1) {
  border-right: 2px solid #fff;
}

.grid1:nth-child(3) {
  border-left: 2px solid #fff;
}

.work_progress_header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.work_progress_header h3 {
  font-size: 2rem;
  padding-right: 0.3rem;
  border-radius: 5px;
  background-color: #b9ff66;
}

.work_progress_header p {
  max-width: 270px;
}

.work_FAQs {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #b9ff66;
  padding: 2rem;
  border-radius: 30px;
  border: 1px solid #000000;
  cursor: pointer;
  position: relative;
}

.space_down {
  margin-top: 2rem;
  background-color: #fff;
}

.work_FAQs::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 10vh;
  border-radius: 30px;
  background-color: #000000;
  z-index: -1;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question_header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.question_header h1 {
  font-size: 3rem;
  font-weight: 500;
}

.question_header h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.question i {
  font-size: 2.3rem;
  transition: transform 0.5s ease;
}

.answer {
  display: none;
  margin-top: 1rem;
}

.answer p {
  border-top: 2px solid #000000;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.work_FAQs.active .answer {
  display: block;
  animation: fade 1s ease-in-out;
}

.work_FAQs.active i {
  transform: rotate(180deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* media queries */

/* ===================desktop screen size================= */
@media screen and (max-width: 1320px) {
  .header {
    padding: 0.75rem 5%;
    transition: 0.5s;
  }

  .header .nav a {
    margin: 0 1rem;
    font-size: 1rem;
  }

  section {
    padding: 3rem 5%;
  }

  .heading_about h1 {
    font-size: 4rem;
  }

  .service_grid_container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .proposal_sideImg img {
    width: 90%;
  }

  .proposal_content p {
    max-width: 600px;
    font-size: 1.2rem;
  }

  .grid1 {
    padding: 3rem;
  }
}

/* ===============mini desktop screen size=================== */
@media screen and (max-width: 1200px) {
  .header {
    padding: 0.75rem 4%;
    transition: 0.5s;
  }

  .header .nav a {
    margin: 0 1rem;
    font-size: 1rem;
  }

  section {
    padding: 3rem 4%;
  }

  .heading_about h1 {
    font-size: 3.5rem;
    line-height: 70px;
  }

  .heading_about p {
    font-size: 1.1rem;
  }
}

/* ================tablet screen size==================== */
@media screen and (max-width: 768px) {
  .menu {
    display: inline-block;
  }

  .header .nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    z-index: 10001;
    background-color: #fff;
  }

  .nav.active {
    display: flex;
    animation: slideIn 0.3s ease-out forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 1;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  section {
    padding-top: 20px;
  }

  #aboutUs {
    flex-direction: column;
    gap: 4rem;
  }

  .header_img img {
    float: left;
  }

  .services_content {
    flex-direction: column;
  }

  .services_content h3 {
    max-width: 150px;
  }

  .getFreeProposal {
    flex-direction: column;
  }

  .proposal_sideImg {
    display: none;
  }

  .case_studies_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .work_progress_header {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ===================mobile screen size==================== */
@media screen and (max-width: 480px) {
  .heading_about h1 {
    font-size: 2.7rem;
    line-height: 60px;
  }

  .heading_about p {
    font-size: 0.9rem;
  }

  section {
    padding: 3rem 3%;
  }

  .right img {
    width: 80%;
    margin-top: 1rem;
    float: right;
  }

  .left a {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .serviceGrid {
    padding: 1rem;
  }

  .work_FAQs {
    padding: 1.5rem;
  }
}

/* =================mini mobile screen size====================== */
@media screen and (max-width: 400px) {
  .heading_about h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }

  .heading_about p {
    font-size: 0.7rem;
  }

  section {
    padding: 3rem 3%;
  }

  .grid1:nth-child(1) {
    border-right: 0;
  }

  .grid1:nth-child(3) {
    border-left: 0;
  }
}
